* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

.header {
	background: #2980b9;
	color: #fff;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.optionsBar {
	display: flex;
	align-items: center;
	gap: 15px;
}

.photouser {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.close {
	width: 25px;
	height: 25px;
}

nav {
	background: #34495e;
	padding: 10px;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 8px 12px;
	display: block;
}

.principal {
	position: relative;
}

.principal ul {
	display: none;
	position: absolute;
	background: #34495e;
	min-width: 150px;
	padding: 5px;
}

.principal:hover ul {
	display: block;
}
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	margin-bottom: 30px;
}
th, td {
	border: 1px solid black;
	padding: 10px;
	text-align: left;
}
th {
	background-color: #f2f2f2;
}
input{
	width: 90%;
}
.button{
	font-size: 2.8vh;
	font-weight: bold;
	height: 40px;
	width: 100%;
	margin-bottom: 1.5vh;
}

.pagination {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #f1f1f1;
    color: #333;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    transition: background-color 0.3s;
}


.pagination a:hover {
    background-color: #ddd;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
}

.pagination a:first-child, .pagination a:last-child {
    font-weight: bold;
}

.pagination a {
    margin: 0 8px;
}

.buscar {
    margin: 20px 0;
    display: grid; 
    justify-content: end; 
    gap: 10px;
    max-width: 100%;
    grid-template-columns: auto auto; 
	margin-right: 20px;
}

.buscar input[type="text"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px; 
    transition: border-color 0.3s ease;
}

.buscar input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

.buscar input[type="submit"] {
    padding-top: 8px;
	padding-bottom: 8px;
	width: 10vh;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.buscar input[type="submit"]:hover {
    background-color: #0056b3;
}

